<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&J Beauty Studio</title>
    <title>J&J</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Satisfy|Srisakdi" rel="stylesheet">
</head>
<body>
    <nav class="main-navigation">
        <a class="Link" asp-area="" asp-controller="Home" asp-action="Index"><img class="Logo" src="~/images/Logo.jpg" /></a>
        <ul class="navUL">
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="Services">Услуги</a></li>
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="Courses">Курсове</a></li>
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="Gallery">Галерия</a></li>
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="About">За нас</a></li>
            <li class="navLi"><a class="Link" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>