@{
    ViewData["Title"] = "Home Page";
}

<h1>J-J-Beauty-Studio</h1>
<p>
    Създадохме салон J&J с увереността, че всяка жена носи красотата в себе си.
    Нашата мисия е да ви показваме колко прекрасни в действителност сте, а вие го демонстрирайте на останалия свят!
    J&J ще ви посрещне с приятна атмосфера, обгърната с бонбонени цветове, а внимателното отношение, ведрост и ТЪРПЕНИЕ на нашите професионалисти ще допълнят сладостта на усещането, че сте попаднали на правилното място.
    Потърсете ни, ако имате нужда да си подарите самочувствие и щастие или просто да си починете!
    Ние сме тук, винаги отзивчиви и компетентни!
</p>